{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Edit Brokerage</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Edit Brokerage</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <!--end row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="tasksList">

                    <form onsubmit="formValidation(event)" method="post">
                        {% csrf_token %}
                        
                        <div class="row g-3" style="padding:20px;">     


                            <div class="col-sm-12">
                                <label class="visually-hidden">Apply Mode</label>
                                <select class="form-select" id="derivatives"  name="derivatives" onchange="ContractChange()">
                                    <option value="{{data.derivatives}}" selected>{{data.derivatives | title}}</option>
                                    <option value="swaps">Swaps </option>
                                    <option value="futures">Futures</option>
            
                                </select>                            </div>

                            <div class="col-sm-6">
                                <label class="visually-hidden">Apply Mode</label>
                                <select class="form-select" id="apply_mode" name="apply_mode" onchange="optionDisable1()">
                                    <option value="{{data.apply_mode}}" selected>{{data.apply_mode}}</option>
                                    <option value="1">Standard </option>
                                    <option value="2">Only for</option>
            
                                </select>                            </div>


                                <div class="col-sm-6">
                                    <label class="visually-hidden" >Contract Name</label>
                                    <select class="form-select" id="contractname" name="contract_name">
                                        <option value="{{data.contract_name.id}}" selected>{{data.contract_name.contract_name}}</option>

                
                                    </select>                            </div>




                                    <div class="col-sm-6">
                                        <label class="visually-hidden" >Brocker</label>
                                        <select class="form-select" id="brocker" name="broker">
                                            <option value="{{data.brocker.id}}" selected>{{data.brocker.name}}</option>

                                            {% for i in brocker %}
                                            <option value="{{i.id}}">{{i.name}}</option>
                                            {% endfor %}

                    
                                        </select>                            </div>



                                            <div class="col-sm-6">
                        
                                    <input type="text"  name="brockerage" id="value_field" value="{{data.brockerage}}" class="form-control" placeholder="Brockerage"  required />
                                </div>                         </div>





                                <div class="col-12">
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
                        </div><!--end row-->
                    </form>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <form method="post">
            {% csrf_token %}
        
        <div class="modal fade flip" id="deleteOrder" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body p-5 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                        <div class="mt-4 text-center">
                            <input type="hidden" name="delet_id" id="delete_feild" value="">
                            <h4>You are about to delete a Clearer Rates ?</h4>
                            <p class="text-muted fs-14 mb-4">Deleting your task will remove all of
                                your information from our database.</p>
                            <div class="hstack gap-2 justify-content-center remove">
                                <button type="reset" class="btn btn-link btn-ghost-success fw-medium text-decoration-none" id="deleteRecord-close" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                                <button type="submit" class="btn btn-danger" id="delete-record">Yes, Delete It</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <!--end delete modal -->

        <div class="modal fade zoomIn" id="showModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header p-3 bg-soft-info">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Clearer Rates</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>
                    <form class="tablelist-form" method="post" id="trader_from" autocomplete="off">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input type="hidden" id="tasksId" />
                            <div class="row g-3">
                                <div class="col-lg-12">
                                    <label for="projectName-field" class="form-label">Name</label>
                                    <input type="hidden" id="edit_id" name="edit_name_id" value="">
                                    <input type="text"  name="edit_name" id="value_field" value="" class="form-control" placeholder="Clearer Rates name" required />
                                </div>
                                <!--end col-->

                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" id="add-btn" >Add Clearer Rates</button>
                                <!-- <button type="button" class="btn btn-success" id="edit-btn">Update Task</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade zoomIn" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header p-3 bg-soft-info">
                        <h5 class="modal-title" id="exampleModalLabel">Create Clearer Fee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>

                    
                    
                    <form onsubmit="formValidation(event)" method="post">
                        {% csrf_token %}
                        
                        <div class="row g-3" style="padding:20px;">     

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="exchangeFee" name="clearer_house_feee" placeholder="Clearer House Fee" aria-label="First-Name" required >
                                </div>


                                <div class="col-sm-6">
                                    <label class="visually-hidden" for="inlineFormSelectPref">Derivative</label>
                                    <select class="form-select" id="derivatives" name="derivatives" onchange="swapsFeatures()">
                                        <option value="choose" selected>Derivative..</option>
                                        <option value="swaps">Swaps</option>
                                        <option value="features">Features</option>
                
                                    </select>                            </div>




                                    <div class="col-sm-6">
                                        <label class="visually-hidden" for="inlineFormSelectPref">Contract Name</label>
                                        <select class="form-select" id="contract_name_id" name="contract_name">
                                            <option value="choose" selected>Contract Name</option>

                    
                                        </select>                            </div>


                                        <div class="col-sm-6">
                                            <label class="visually-hidden" for="inlineFormSelectPref">Clearer</label>
                                            <select class="form-select" id="inlineFormSelectPref" name="clearer" onchange="swapsFeatures()">
                                                <option value="choose" selected>Clearer</option>
                                                {% for i in clearer %} 
                                                <option value="{{i.id}}">{{i.name}}</option>
                                                {% endfor %}
                        
                                            </select>                            </div>





                                <div class="col-12">
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
                        </div><!--end row-->
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade zoomIn" id="showModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header p-3 bg-soft-info">
                        <h5 class="modal-title" id="exampleModalLabel">Create Clearer Rates</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>

                    
                    
                    <form class="tablelist-form" method="post" id="trader_from" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input type="hidden" id="tasksId" />
                            <div class="row g-3">
                                <div class="col-lg-12">
                                    <label for="projectName-field" class="form-label">Name</label>
                                    <input type="file"  name="file" id="projectName-field" class="form-control" placeholder="Clearer Rates name" required />
                                </div>
                                <!--end col-->

                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" id="add-btn" >Upload file</button>
                                <!-- <button type="button" class="btn btn-success" id="edit-btn">Update Task</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--end modal-->

    </div>
    <!-- container-fluid -->
</div>

{% endblock %}
{% block javascript %}


function ContractChange(){
    const derivatives = document.querySelector('#derivatives').value;
    const contractname = document.querySelector('#contractname')
    fetch (`/brockerage_contract_change/${derivatives}`)
    .then(response => response.json())
    .then(data =>{
        console.log(data)
        while(contractname.firstChild){
            contractname.removeChild(contractname.firstChild)
        }


            const option = document.createElement('option')
            option.value = 'choose'
            option.text = 'Contract Name'

            contractname.appendChild(option)
        for(i=0; i < data.data.length; i++){

            const option = document.createElement('option')
            option.value = data.data[i].contract_id ;
            option.text = data.data[i].contract_name;

            contractname.appendChild(option)
        }

    })

}

function optionDisable1() {
    var option = document.querySelector('#apply_mode').value;
    var contractname = document.querySelector('#contractname');
    var brocker = document.querySelector('#brocker');
    if (option == '1') {
        document.querySelector('#contractname').disabled = true;
        document.querySelector('#brocker').disabled = true;
    } else {
        contractname.disabled = false;
        brocker.disabled = false;
    }
}

function formValidation(event){
    var option = document.querySelector('#apply_mode').value;
    var contractname = document.querySelector('#contractname').value;
    var brocker = document.querySelector('#brocker').value;

    if (option == '1'){
        return true;
    }

    else if (option == 'choose'){
        event.preventDefault()
        Swal.fire({
            icon: 'error',
            title: 'Please Choose Apply Mode',
            text: 'Apply Mode Not selected',
        });
    }

    if (contractname =='choose'){
        event.preventDefault()
        Swal.fire({
            icon: 'error',
            title: 'Please Choose Contract Name',
            text: 'Contract Name selected',
        });
    }
}

{% endblock %}
