{% extends 'base.html' %}
{% block content %}

<div class="page-content">
    <div class="container-fluid">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Strategy Details</h4>
        
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Strategy-details</li>
                </ol>
            </div>
        
        </div>
<div class="card mb-3">
    <div class="card-body">

        <div class="table-card">
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <td class="fw-medium">Strategy Name</td>
                        <td>{{object.name}}</td>
                    </tr>
 
                    <tr>
                        <td class="fw-medium">Created on</td>
                        <td><span class="badge badge-soft-secondary">{{object.created_date}}</span></td>
                    </tr>
            
                    <tr>
                        <td class="fw-medium">Last Update</td>
                        <td><span class="badge badge-soft-secondary">{{object.updated_at}}</span></td>
                    </tr>

                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}