{% extends 'base.html' %}
{% block content %}

<style>

.table-filter {
    border-radius: 5px;
}




    .table tr {font-size: 12px;}
    .table td {font-size: 12px;}

    .tbl-container{

     max-width:fit-content;
     max-height:fit-content;

    }


    .tbl-fixed {
       overflow-x: scroll;
       overflow-y: scroll;
       height: fit-content;
        max-height:600px;
         height: 650px;
    }

    table{
    min-width:max-content;
    }

    .table th{
    position:sticky;
    top: 0px;
    background:#405189;

    }

<!--    table td {-->
<!--    background:#fff;-->
<!--    text-align:center;-->
<!--    border:1px solid #ccc;-->

<!--    }-->

<!--    .table-wrapper{-->
<!--    max-height:300px;-->
<!--    overflow-y: scroll;-->

<!--    }-->

</style>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Company Investment</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Company Investment List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <!--end row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="tasksList">
                    <div class="card-header border-0">
                        <div class="d-flex align-items-center">
                            <h5 class="card-title mb-0 flex-grow-1">Company Investment List</h5>
                            <div class="flex-shrink-0">

                            </div>
                        </div>
                    </div>
                    <div class="card-body border border-dashed border-end-0 border-start-0">
                        <form>
                            <div class="row g-3">
                                <div class=" col-sm-6">
<!--                                    <div class="search-box">-->
                                    <input type="text" class="form-control bg-light border-light" name="search_query" id="demo-datepicker" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" placeholder="Search with Company Investment Name" value="{{request.GET.search_query}}">

<!--                                    </div>-->
                                </div>
                                <!--end col-->

<!--                                <div class="col-xxl-4 col-sm-8">-->
<!--                                    <input type="text" class="form-control bg-light border-light" name="search_query" id="demo-datepicker" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" placeholder="Search with Company Investment Name" value="{{request.GET.search_query}}">-->
<!--                                </div>-->
                                <!--end col-->


                                <!--end col-->
                                <div class=" col-sm-1">
                                    <button type="submit" class="btn btn-primary w-100" onclick="SearchData();"> <i class="ri-search-2-line"></i>

                                    </button>
                                </div>

                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-primary w-100" onclick="window.location.href='/unique-trader'"> <i class="ri-close-circle-line"></i>

                                    </button>
                                </div>


                                <div class=" col-sm-2">
                                    <p class="btn btn-danger add-btn" data-bs-toggle="modal" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i>Company Investment</p>

                                </div>


                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>
                    </div>
                    <!--end card-body-->
                    <div class="card-body">
                        <div class="table-responsive mb-4">
                            <table class="table align-middle table-nowrap mb-0" id="tasksTable">
                                <thead class="table-light text-white">
                                    {% for messages in messages %}
                                    <div id="snackbar">{{messages}}</div>
                                    {% endfor %}
                                    <tr>
                                        <th style="
                                        text-align: center;
                                    " class="sort" data-sort="id">ID
                                        </th>
                                          <th style="
                            text-align: center; padding-right: 147px;
                        " class="sort" data-sort="project_name">Action</th>
                                        <th style="
                                        text-align: center; padding-right: 147px;
                                    " class="sort" data-sort="project_name">Customer Company
                                        </th>

                                        <th style="
                                    text-align: center; padding-right: 147px;
                                " class="sort" data-sort="project_name">Account
                                        </th>


                                        <th style="
                                text-align: center; padding-right: 147px;
                            " class="sort" data-sort="project_name">Transfer Type
                                        </th>

                                        <th style="
                            text-align: center; padding-right: 147px;
                        " class="sort" data-sort="project_name">Amount
                                        </th>
                                        <th style="
                            text-align: center; padding-right: 147px;
                        " class="sort" data-sort="project_name">Cash Factor
                                        </th>


                                        <th style="
                        text-align: center; padding-right: 147px;
                    " class="sort" data-sort="project_name">Email
                                        </th>

                                        <th style="
                    text-align: center; padding-right: 147px;
                " class="sort" data-sort="project_name">Remarks
                                        </th>

<!--                                        <th style="-->
<!--                            text-align: center; padding-right: 147px;-->
<!--                        " class="sort" data-sort="project_name">Action-->
<!--                                        </th>-->
                                    </tr>

                                </thead>
                                <tbody id="tableBodyTrader" class="list form-check-all">
                                    {% for messages in messages %}
                                    <p data-toast data-toast-text="{{messages}}" data-toast-gravity="top" id="messages" data-toast-position="center" data-toast-duration="3000" data-toast-close="close"></p>
                                    {% endfor %}

                                    {% for data in companyinvestments %}
                                    <tr>

                                        <td class="id">{{forloop.counter}}</td>

                                                                                <td>
                                                    <div class="dropdown d-inline-block">
                                                        <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="ri-more-fill align-middle"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">



<!--                                                            <li><a href="/future-blotter-detail/{{data.id}}" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>-->
                                                            <li><a class="dropdown-item edit-item-btn" href="/edit-compinvest/{{data.id}}"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a></li>

<!--                                                                <a class="dropdown-item remove-item-btn" data-bs-toggle="modal" href="#deleteOrder" onclick="deletefunc('{{data.id}}')">-->
<!--                                                                    <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete-->
<!--                                                                </a>-->
<!--                                                                <li>-->
<!--                                                                <a class="dropdown-item edit-item-btn"  href="/delete-future-blotter/{{data.id}}">-->
<!--                                                                <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>Delete</a>-->
<!--                                                                </li>-->

                                                             <li>
                                                                <a class="dropdown-item remove-item-btn" data-bs-toggle="modal" href="#deleteOrder" onclick="deletefunc('{{data.id}}')">
                                                                    <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </td>



                                        <td class="id">{{data.Customer_Company_name}}</td>

                                        <td class="id">{{data.Customer_Account}}</td>

                                        <td class="id">{{data.Customer_Transfer_Type}}</td>
                                        <td class="id">{{data.Transfer_Amount}}</td>
                                        <td class="id">{{data.Cash_Factor}}</td>

                                        <td class="id">{{data.Email}}</td>

                                        <td class="id">{{data.Remarks}}</td>




<!--                                <td>-->
<!--                                                <div class="flex-shrink-0 ms-4">-->
<!--                                                    <ul class="list-inline tasks-list-menu mb-0">-->
<!--                                                        <li class="list-inline-item"><a class="edit-item-btn" href="/edit-compinvest/{{data.id}}" ><i class="ri-pencil-fill align-bottom me-2 text-muted"></i></a></li>-->
<!--                                                        <li class="list-inline-item">-->
<!--                                                            <a class="remove-item-btn" data-bs-toggle="modal" href="#deleteOrder" onclick="deletefunc('{{data.id}}')">-->
<!--                                                                <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>-->
<!--                                                            </a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </td>-->

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--end table-->
                            <div class="noresult" style="display: none">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted mb-0">We've searched more than 200k+ tasks We did not find any tasks for you search.</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            <div class="pagination-wrap hstack gap-2">
                                {% if page_obj.has_previous %}
                                <a class="page-item pagination-prev" href="?page={{ page_obj.previous_page_number }}">
                                    Previous
                                </a>
                                {% endif %}
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <p style="
                                margin-bottom: 0px;
                            "class="page-item pagination-next">{{ page_obj.number }}</p>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                {% if page_obj.has_next %}
                                <a class="page-item pagination-next" href="?page={{ page_obj.next_page_number }}">
                                    Next
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <form method="post">
            {% csrf_token %}

        <div class="modal fade flip" id="deleteOrder" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body p-5 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                        <div class="mt-4 text-center">
                            <input type="hidden" name="delet_id" id="delete_feild" value="">
                            <h4>You are about to delete a Trader Model List Rates ?</h4>
                            <p class="text-muted fs-14 mb-4">Deleting your task will remove all of
                                your information from our database.</p>
                            <div class="hstack gap-2 justify-content-center remove">
                                <button type="reset" class="btn btn-link btn-ghost-success fw-medium text-decoration-none" id="deleteRecord-close" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                                <button type="submit" class="btn btn-danger" id="delete-record">Yes, Delete It</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <!--end delete modal -->

        <div class="modal fade zoomIn" id="showModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header p-3 bg-soft-info">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Trader Model List Rates</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>
                    <form class="tablelist-form" method="post" id="trader_from" autocomplete="off">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input type="hidden" id="tasksId" />
                            <div class="row g-3">
                                <div class="col-lg-12">
                                    <label for="projectName-field" class="form-label">Name</label>
                                    <input type="hidden" id="edit_id" name="edit_name_id" value="">
                                    <input type="text"  name="edit_name" id="value_field" value="" class="form-control" placeholder="Trader Model List Rates name" required />
                                </div>
                                <!--end col-->

                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" id="add-btn" >Add Trader Model List Rates</button>
                                <!-- <button type="button" class="btn btn-success" id="edit-btn">Update Task</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade zoomIn" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header p-3 bg-soft-info">
                        <h5 class="modal-title" id="exampleModalLabel">Create Trader Model List Fee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>



                    <form onsubmit="formValidation(event)" method="post">
                        {% csrf_token %}

                        <div class="row g-3" style="padding:20px;">

                                <div class="col-sm-6">
                                    <p class="for-class">Customer Company</p>
<!--                                    <input type="text" class="form-control" id="exchangeFee" name="quantity" placeholder="Quantity" aria-label="First-Name" required >-->
                                    {{form.Customer_Company_name}}
                                </div>


                                <div class="col-sm-6">
                                    <p class="for-class">Account</p>
<!--                                    <label class="visually-hidden" for="inlineFormSelectPref">Company Name</label>-->
<!--                                    <select class="form-select" id="derivatives" name="company_name">-->
<!--                                        <option value="choose" selected>.......</option>-->
<!--                                        {% for i in company_name %}-->
<!--                                        <option value="{{i.id}}">{{i.company_name}}</option>-->
<!--                                        {% endfor %}-->
<!--                            -->
<!--                -->
<!--                                    </select>                           -->
                                    {{form.Customer_Account}}
                                </div>


                                    <div class="col-sm-6">
                                        <p class="for-class">Transfer Type</p>
<!--                                        <label class="visually-hidden" for="inlineFormSelectPref">Book</label>-->
<!--                                        <select class="form-select" id="derivatives" name="book">-->
<!--                                            <option value="choose" selected>.......</option>-->
<!--                                            {% for i in book %}-->
<!--                                            <option value="{{i.id}}">{{i.name}}</option>-->
<!--                                            {% endfor %}-->
<!--                                -->
<!--                    -->
<!--                                        </select>                           -->
                                        {{form.Customer_Transfer_Type}}
                                    </div>




                                    <div class="col-sm-6">
                                        <p class="for-class">Amount</p>
<!--                                        <label class="visually-hidden" for="inlineFormSelectPref">Cargo</label>-->
<!--                                        <select class="form-select" id="contract_name_id" name="cargo">-->
<!--                                            <option value="choose" selected>---------------</option>-->

<!--                                            {% for i in cargo %}-->
<!--                                            <option value="{{i.id}}">{{i.name}}</option>-->
<!--                                            {% endfor %}-->

<!--                    -->
<!--                                        </select>                           -->
                                        {{form.Transfer_Amount}}
                                    </div>
                                                       <div class="col-sm-6">
                                        <p class="for-class">Cash Factor</p>
<!--                                        <label class="visually-hidden" for="inlineFormSelectPref">Cargo</label>-->
<!--                                        <select class="form-select" id="contract_name_id" name="cargo">-->
<!--                                            <option value="choose" selected>---------------</option>-->

<!--                                            {% for i in cargo %}-->
<!--                                            <option value="{{i.id}}">{{i.name}}</option>-->
<!--                                            {% endfor %}-->

<!--                    -->
<!--                                        </select>                           -->
                                        {{form.Cash_Factor}}
                                    </div>



                                        <div class="col-sm-6">
                                            <p class="for-class">Email</p>
<!--                                            <label class="visually-hidden" for="inlineFormSelectPref">Strategy</label>-->
<!--                                            <select class="form-select" id="inlineFormSelectPref" name="strategy" >-->
<!--                                                <option value="choose" selected>---------------</option>-->
<!--                                                {% for i in strategy %} -->
<!--                                                <option value="{{i.id}}">{{i.name}}</option>-->
<!--                                                {% endfor %}-->
<!--                        -->
<!--                                            </select>                           -->
                                            {{form.Email}}
                                        </div>

                            <div class="col-sm-12">
                                            <p class="for-class">Remarks</p>
<!--                                            <label class="visually-hidden" for="inlineFormSelectPref">Strategy</label>-->
<!--                                            <select class="form-select" id="inlineFormSelectPref" name="strategy" >-->
<!--                                                <option value="choose" selected>---------------</option>-->
<!--                                                {% for i in strategy %} -->
<!--                                                <option value="{{i.id}}">{{i.name}}</option>-->
<!--                                                {% endfor %}-->
<!--                        -->
<!--                                            </select>                           -->
                                            {{form.Remarks}}
                                        </div>





                                <div class="col-12">
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
                        </div><!--end row-->
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade zoomIn" id="showModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header p-3 bg-soft-info">
                        <h5 class="modal-title" id="exampleModalLabel">Create Clearer Rates</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>



                    <form class="tablelist-form" method="post" id="trader_from" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input type="hidden" id="tasksId" />
                            <div class="row g-3">
                                <div class="col-lg-12">
                                    <label for="projectName-field" class="form-label">Name</label>
                                    <input type="file"  name="file" id="projectName-field" class="form-control" placeholder="Clearer Rates name" required />
                                </div>
                                <!--end col-->

                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" id="add-btn" >Upload file</button>
                                <!-- <button type="button" class="btn btn-success" id="edit-btn">Update Task</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--end modal-->

    </div>
    <!-- container-fluid -->
</div>

{% endblock %}

{% block javascript %}

function formValidation(event){
    var option = document.querySelector('#derivatives').value;
    var inlineFormSelectPref = document.querySelector('#inlineFormSelectPref').value;
    if (option=='choose'){
        event.preventDefault()
        Swal.fire({
            icon: 'error',
            title: 'Please Choose Derivatives',
            text: 'Derivatives Not selected',
          })
    }

    if (inlineFormSelectPref=='choose'){
        event.preventDefault()
        Swal.fire({
            icon: 'error',
            title: 'Please Choose Clearer',
            text: 'Clearer Not selected',
          })
    }

}


async function swapsFeatures() {
    var option = document.querySelector('#derivatives').value;
    var contract_name_id = document.querySelector('#contract_name_id')
    console.log(option)
    while (contract_name_id.firstChild){
        contract_name_id.removeChild(contract_name_id.firstChild)
    }
    await fetch('clearear_api_swaps', {
        method: 'post',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
        },
            body: JSON.stringify({'derivatives': option})

        })
        .then(response => response.json())
        .then(data=>{
            console.log(data.derivatives[0].contract)
            for(i=0; i < data.derivatives.length; i++){

                const options = document.createElement('option');
                options.value = data.derivatives[i].id
                options.text = data.derivatives[i].contract
                contract_name_id.appendChild(options)
            }
        })


}





function editTrader(id,name){
    document.querySelector('#edit_id').value=id;
    document.querySelector('#value_field').value=name;
}


function deletefunc(id){
    document.querySelector('#delete_feild').value=id
}

{% endblock %}


 hello python