<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if csv_data %}
<table>
    <thead>
        <tr>
            {% for header in csv_data|first %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in csv_data|slice:"1:" %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No data available.</p>
{% endif %}




</body>
</html>