{% extends 'customer/base.html' %}
{% load static %}
{% block content %}


   <style>

     .table tr {font-size: 13px;}
    .table td {font-size: 13px;}


<!--     .tbl-container{-->

<!--     max-width:fit-content;-->
<!--     max-height:fit-content;-->

<!--    }-->

    .tbl-fixed {
       overflow-x: scroll;
       overflow-y: scroll;
<!--       height: fit-content;-->
<!--       max-height:1000 vh;-->
          max-height:550px;
         height: 550px;

    }

    table{
    min-width:max-content;
    }

    .table th{
    position:sticky;
    top: 0px;
<!--    background:#405189;-->

    }


  </style>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="page-content">
    <div class="container-fluid">
    <!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0"> History</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">History</li>
                </ol>
            </div>

        </div>
    </div>
</div>


        <!-- end page title -->

  <!--        ### select tabs-->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card" id="orderList">
                                <div class="card-header border-0">
                                    <div class="row align-items-center gy-3">
                                        <div class="col-sm">
                                            <h5 class="card-title mb-0">Trade History</h5>
                                        </div>
                                        <div class="col-sm-auto">
                                            <div class="d-flex gap-1 flex-wrap">
<!--                                                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Create Order</button>-->
<!--                                                <button type="button" class="btn btn-info"><i class="ri-file-download-line align-bottom me-1"></i> Export</button>-->
                                                <button class="btn btn-soft-danger" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body border border-dashed border-end-0 border-start-0">
                                    <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                        <div class="row g-3">
                                            <div class="col-xxl-3 col-sm-6">
                                                <div class="search-box">
                                                    <input type="text" class="form-control search" placeholder="Search..." name="search_query" >
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-2 col-sm-6">
                                                <div>
                                                    <input type="date" class="form-control" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" id="demo-datepicker" placeholder="Select date" name="date">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-2 col-sm-4">
                                                <div>

                                                </div> <select class="form-control" data-choices data-choices-search-false  id="clearer_id" name="clearer">
<!--                                                        <option value="all"> All</option>-->
                                                        <option value="" selected>All Clearer</option>
                                                        {% for i in uniq_cleaer%}
                                                        <option value="{{i}}">{{i}}</option>
                                                        {% endfor %}
                                                    </select>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-2 col-sm-4">
                                                <div>
                                                    <select class="form-control" data-choices data-choices-search-false  id="book_id" name="book">
<!--                                                        <option value="">All</option>-->
                                                        <option value="" selected>All Book</option>

                                                        {% for i in uniq_book%}
                                                        <option value="{{i}}">{{i}}</option>
                                                        {% endfor %}

                                                    </select>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-2 col-sm-4">
                                                <div>
                                                    <select class="form-control" data-choices data-choices-search-false  id="contract_id" name="contract">
<!--                                                        <option value="">All</option>-->
                                                        <option value="" selected>All Contract Name</option>

                                                              {% for i in uniq_contract %}
                                                        <option value="{{i}}">{{i}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <!--end col-->




                                            <div class="col-xxl-1 col-sm-4">
                                                <div>
                                                    <button type="submit" class="btn btn-primary w-100" onclick="SearchData();"> <i class="ri-equalizer-fill me-1 align-bottom"></i>
                                                        Filters
                                                    </button>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>
                                </div>





<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
<!--                    <h4 class="card-title">SWAPS TRADES</h4>-->

                <div class="filter-radio">
<!--             <a href="" class="btn btn-primary active" data-mdb-toggle="button" aria-pressed="true"-->
<!--           role="button"> Futures-Swap</a>-->
                    <a href="/all-trade-history" class="btn btn-primary active" data-mdb-toggle="button" aria-pressed="true"
           role="button"> Futures Trade</a>
                    <a href="/swap-trade-history" class="btn btn-primary active" data-mdb-toggle="button" aria-pressed="true"
           role="button"> Swaps Trade</a>
                  <a href="/swap-futures-trade-history" class="btn btn-primary active" data-mdb-toggle="button" aria-pressed="true"
                     role="button"> Swaps-Futures Trade</a>

                </div>

<!--                #2 buttons-->
<!--                <div class="row">-->
<!--                    <div class="form-group">-->
<!--                        <input class="btn btn-primary d-block w-10 " type="submit"-->
<!--                               value="Future-Swaps" data-bs-toggle="button" autocomplete="off">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                    <input class="btn btn-primary d-block w-10 m-" type="submit" value="Future Trade">-->
<!--                    </div>-->
<!--                  <div class="form-group">-->
<!--                    <input class="btn btn-primary d-block w-10 " type="submit" value="Swaps Trade">-->
<!--                    </div>-->
<!--                </div>-->

                <div class="mt-2">
                 <h3 class="card-title"><i class="fa-solid fa-chart-line text-info "></i> <span class="menu-title"></span></h3>
                </div>





        <div class="card">

            <div class="card-body tbl-container ">
                <div class="row">

                    <div class="col-11">
                         <h4 class="card-title"><b>Swaps Trade History</b> </h4>

                    </div>
                       <div class="col-1">
                         <a href="/exportfb-to-csv/" class="btn btn-info text-end m-2" data-mdb-toggle="button" aria-pressed="true"
                                     role="button"><i class="ri-file-download-line align-bottom me-3"></i>Export</a>

                    </div>

                </div>




                 <div class="table-responsive tbl-fixed">
                            <table class="table align-middle table-nowrap mb-0 border border" id="tasksTable">
                                <thead class="table-light text-muted">
                                {% for messages in messages %}
                                <div id="snackbar">{{messages}}</div>
                                {% endfor %}
                                <tr>
<!--                                    <th class="serial"> No</th>-->
<!--                                    {% for col in sb_history_df.columns %}-->
<!--                                    <th class=""> {{col}}</th>-->
<!--                                    {%endfor%}-->

                                    <th style="text-align: center;">Sl No</th>
                                        <th data-sort="project_name">Action</th>
                                        <th style="text-align: center;">Date</th>
                                        <th style="text-align: center;">Trade ID</th>
                                        <th style="text-align: center;">Trade Type</th>
                                        <th style="text-align: center;">Clearer</th>
                                        <th style="text-align: center;">Trader</th>
                                        <th style="text-align: center;">Book</th>
                                        <th style="text-align: center;">Customer Company</th>
                                        <th style="text-align: center;">Customer Account</th>
                                        <th style="text-align: center;">Strategy</th>
                                        <th style="text-align: center;">Derivatives</th>
                                        <th style="text-align: center;">Volume</th>
                                        <th style="text-align: center;">Contract Name</th>
                                        <th style="text-align: center;">Start Date</th>
                                        <th style="text-align: center;">End Date</th>
                                        <th style="text-align: center;">Price</th>
                                        <th style="text-align: center;">Aproximate Ep</th>
                                        <th style="text-align: center;">Holiday</th>
                                        <th style="text-align: center;">Type</th>
                                        <th style="text-align: center;">EFSC Code</th>
                                        <th style="text-align: center;">Broker</th>
                                        <th   data-sort="project_name">Block Fee</th>
                                         <th  data-sort="project_name">Screen Fee</th>
                                         <th data-sort="project_name">Brokerage</th>

                                               <th  data-sort="project_name">bbl/MT</th>
                                        <th  data-sort="project_name">kbbl/MT</th>
                                                <th data-sort="project_name">Physical Code </th>
                                        <th data-sort="project_name">Physical Blotter ID </th>




<!--                                        #calculated values-->
                                       <!--                                        #calculated value-->
                                        <th data-sort="project_name">Major/Mini</th>
                                        <th data-sort="project_name">Major/Mini Connection</th>
                                         <th data-sort="project_name">Tick</th>
                                         <th data-sort="project_name">Unit</th>
                                        <th style="text-align: center;">Single/Diff</th>
                                         <th data-sort="project_name">FW Months</th>
                                        <th data-sort="project_name">Total Days</th>
<!--                                         <th data-sort="project_name">New  Total Days</th>-->


                                        <th data-sort="project_name">Priced Days</th>
                                        <th  data-sort="project_name">Unpriced Days</th>
                                         <th  data-sort="project_name">Total Volume</th>
                                         <th  data-sort="project_name">Priced volume</th>
                                         <th data-sort="project_name">Unpriced Volume</th>




                                        <th   data-sort="project_name">Total Fee</th>


                                        <th  data-sort="project_name">bbl Conversion Value</th>

                                        <th data-sort="project_name">Unpriced kbbl/MT</th>
                                        <th data-sort="project_name">First Month</th>
                                        <th data-sort="project_name">Second Month</th>
                                          <th data-sort="project_name">Futures Equiv First kbbl </th>
                                        <th data-sort="project_name">Futures Equiv Second kbbl </th>
                                           <th data-sort="project_name">First Month Days </th>
                                        <th data-sort="project_name">Second Month Days </th>
                                        <th data-sort="project_name">Futures Equiv First Month </th>
                                           <th data-sort="project_name">Futures Equiv Second Month </th>

<!--                                        # excluded from claculation-->
                                        <th data-sort="project_name">Notes</th>
<!--                                         <th data-sort="project_name">Action</th>-->





                                </tr>

                                </thead>
                                <tbody id="tableBodyTrader" class="list form-check-all">

                                    {% for messages in messages %}
                                    <p data-toast data-toast-text="{{messages}}" data-toast-gravity="top" id="messages" data-toast-position="center" data-toast-duration="3000" data-toast-close="close"></p>
                                    {% endfor %}

                                     {%if sb %}

                                    {% for data in sb %}
                                    <tr>

                                        <td style="text-align: center;"class="id">{{forloop.counter}}</td>


                                          <td>
                                                    <div class="dropdown d-inline-block">
                                                        <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="ri-more-fill align-middle"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a href="/sb-tradehistory-detail/{{data.id}}" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>
                                                            <li><a class="dropdown-item edit-item-btn" href="/edit-swaps-blotter/{{data.id}}"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a></li>
                                                            <li>
<!--                                                                <a class="dropdown-item remove-item-btn" data-bs-toggle="modal" href="#deleteOrder" onclick="deletefunc('{{data.id}}')">-->
<!--                                                                    <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete-->
<!--                                                                </a>-->

                                                                <a class="dropdown-item edit-item-btn"  href="/delete-swaps-tradehistory/{{data.id}}">
                                                                <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>Delete</a></li>
                                                            </a>


                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>




                                        <td style="text-align: center;"class="id">{{data.date}}</td>
                                          <td class="id">{{data.Trade_id}}</td>
                                        <td style="text-align: center;"class="id">{{data.trader_type}}</td>
                                        <td style="text-align: center;"class="id">{{data.clearer}}</td>
                                        <td style="text-align: center;"class="id">{{data.trader.name}}</td>
                                        <td style="text-align: center;"class="id">{{data.book}}</td>
                                        <td style="text-align: center;"class="id">{{data.customer_company}}</td>
                                        <td style="text-align: center;"class="id">{{data.customer_account}}</td>
                                        <td style="text-align: center;"class="id">{{data.strategy.name}}</td>
                                        <td style="text-align: center;"class="id">{{data.derivatives}}</td>
                                        <td style="text-align: center;"class="id">{{data.volume}}</td>
                                        <td style="text-align: center;"class="id">{{data.contract}}</td>
                                        <td style="text-align: center;"class="id">{{data.start_date}}</td>
                                        <td style="text-align: center;"class="id">{{data.end_date}}</td>
                                        <td style="text-align: center;"class="id">{{data.price}}</td>
                                        <td style="text-align: center;"class="id">{{data.approx_ep}}</td>
                                        <td style="text-align: center;"class="id">{{data.holiday}}</td>
                                        <td style="text-align: center;"class="id">{{data.type}}</td>
                                        <td style="text-align: center;"class="id">{{data.efs_code}}</td>
                                        <td style="text-align: center;"class="id">{{data.broker}}</td>
                                        <td class="id">{{data.block_fee}}</td>
                                         <td class="id">{{data.screen_fee}}</td>
                                        <td class="id">{{data.Brokerage}}</td>

                                        <td class="id">{{data.bbi_mt}}</td>
                                         <td class="id">{{data.kbbl_mt_conversion}}</td>
                                         <td class="id">{{data.physical_code}}</td>
                                         <td class="id">{{data.physica_blotter_connect}}</td>


<!--                                        #CALCULATED VALUES-->
                                         <td style="text-align: center;"class="id">{{data.mini_major}}</td>
                                         <td style="text-align: center;"class="id">{{data.mini_major_connection}}</td>
                                        <td class="id">{{data.tick}}</td>
                                         <td class="id">{{data.unit}}</td>
                                         <td class="id">{{data.singl_dif}}</td>
                                        <td class="id">{{data.fw_months}}</td>
                                        <td style="text-align: center;"class="id">{{data.total_days}}</td>

<!--                                        #new totsl days-->
<!--                                        <td style="text-align: center;"class="id">{{data.total_n_days}}</td>-->


                                          <td class="id">{{data.priced_days}}</td>
                                      <td class="id">{{data.unpriced_days}}</td>
                                          <td class="id">{{data.total_volume}}</td>

                                          <td class="id">{{data.priced_volume}}</td>
                                          <td class="id">{{data.unpriced_volume}}</td>


                                          <td class="id">{{data.Total_Fee}}</td>

                                         <td class="id">{{data.bbi_mt_conversion}}</td>

                                        <td class="id">{{data.unpriced_kbbl_mt}}</td>
                                        <td class="id" >{{data.First_month}}</td>
                                        <td class="id">{{data.Second_month}}</td>
                                        <td class="id" >{{data.futures_equiv_first_kbbl}}</td>
                                        <td class="id">{{data.futures_equiv_second_kbbl}}</td>
                                         <td class="id" >{{data.first_month_days}}</td>
                                        <td class="id">{{data.second_month_days}}</td>
                                          <td class="id" >{{data.futures_equiv_first}}</td>
                                        <td class="id">{{data.futures_equiv_second}}</td>

                                          <td class="id">{{data.notes}}</td>

<!--                                        <td>-->
<!--                                               -->
<!--                                                    <ul >-->
<!--                                                        <li class="id list-inline-item"><a class="edit-item-btn" href="/edit-swaps-blotter/{{data.id}}"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i></a></li>-->
<!--                                                        <li class="list-inline-item">-->
<!--                                                            <a class="remove-item-btn"  href="/delete-swaps-blotter/{{data.id}}">-->
<!--                                                                <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>-->
<!--                                                            </a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                        </td>-->

                                    </tr>
                                    {% endfor %}
                                 {% else %}
                                <tr><td>No Data Found</td></tr>
                            {% endif %}
                                </tbody>
                            </table>



                        </div>
                    </div>
        </div>











            </div>
        </div>




    </div></div></div>



    </div>
</div>



{% endblock %}
