{% extends 'customer/base.html' %}
{% load static %}
{% block content %}




  <style>

    .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #405189;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: black;

}

        .table tr {font-size: 13px;}
.table td {font-size: 13px;}




  </style>





<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="page-content">
    <div class="container-fluid">
    <!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0"> Trade History </h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Trade History </li>
                </ol>
            </div>

        </div>
    </div>
</div>
        <!-- end page title -->


<!--        ### select tabs-->

        <div class="card">
                                <div class="card-body">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-tabs-custom nav-success nav-justified mb-3" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab">
                                               Future Trade
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#profile1" role="tab">
                                                Swap Trade
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#messages1" role="tab">
                                                Physical Trade
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#settings1" role="tab">
                                               Future-Swap Trade
                                            </a>
                                        </li>
                                    </ul>



<!--        ############################################-->
<!--# uncomment this code-->
                                    <div class="row mt-2 tab-content">
    <div class="col-12 grid-margin tab-pane active" id="home1" role="tabpanel" >
        <div class="card">

            <div class="card-body tbl-container  ">
                <h4 class="card-title"><b>Future Trade History</b> </h4>
                 <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0 border border" id="tasksTable">
                                <thead class="table-light text-muted sticky-top">
                                {% for messages in messages %}
                                <div id="snackbar">{{messages}}</div>
                                {% endfor %}
                                <tr>
                                    <th class="serial"> No</th>
                                    {% for col in fb_history_df.columns %}
                                    <th class=""> {{col}}</th>
                                    {%endfor%}

                                </tr>

                                </thead>
                                <tbody id="tableBodyTrader" class="list form-check-all">

                                    {% for messages in messages %}
                                    <p data-toast data-toast-text="{{messages}}" data-toast-gravity="top" id="messages" data-toast-position="center" data-toast-duration="3000" data-toast-close="close"></p>
                                    {% endfor %}

                                    {% for row in fb_history_df.values %}
                                    <tr class="active-row">
                                        <td class="serial">{{forloop.counter}}</td>
                                        {% for value in row %}
                                        <td class="{% if value < 0 %}text-danger{% endif %}">
                                            {{value}}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    <!-- and so on... -->


                                </tbody>
                            </table>



                        </div>
                    </div>
        </div>
    </div>
</div>



                                        <div class="row  tab-content">
    <div class="col-12 grid-margin tab-pane" id="profile1" role="tabpanel">
        <div class="card">

            <div class="card-body tbl-container  ">
                <h4 class="card-title"><b>Swaps Trade History</b> </h4>
                 <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0 border border" id="tasksTable">
                                <thead class="table-light text-muted sticky-top">
                                    {% for messages in messages %}
                                    <div id="snackbar">{{messages}}</div>
                                    {% endfor %}
                                    <tr>

                                        <th class="serial"> No</th>
                                        {% for col in sb_history_df.columns %}
                                        <th class=""> {{col}}</th>
                                        {%endfor%}

                                    </tr>

                                </thead>
                                <tbody id="tableBodyTrader" class="list form-check-all">

                                {% for messages in messages %}
                                <p data-toast data-toast-text="{{messages}}" data-toast-gravity="top" id="messages"
                                   data-toast-position="center" data-toast-duration="3000" data-toast-close="close"></p>
                                {% endfor %}

                                {% for row in sb_history_df.values %}
                                <tr class="active-row">
                                    <td class="serial">{{forloop.counter}}</td>
                                    {% for value in row %}
                                    <td class="{% if value < 0 %}text-danger{% endif %}">
                                        {{value}}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                <!-- and so on... -->

                                </tbody>
                            </table>



                        </div>
                    </div>
        </div>
    </div>
</div>

<!--                                    ##### 3rd tab-->


                                    <div class="row  tab-content">
    <div class="col-12 grid-margin tab-pane" id="messages1" role="tabpanel">
        <div class="card">

            <div class="card-body tbl-container  ">
                <h4 class="card-title"><b>Physical Trade History</b> </h4>
                 <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0 border border" id="tasksTable">
                                <thead class="table-light text-muted sticky-top">
                                    {% for messages in messages %}
                                    <div id="snackbar">{{messages}}</div>
                                    {% endfor %}
                                    <tr>

                                        <th class="serial"> No</th>
                                        {% for col in pb_history_df.columns %}
                                        <th class=""> {{col}}</th>
                                        {%endfor%}
                                    </tr>

                                </thead>
                                <tbody id="tableBodyTrader" class="list form-check-all">

                                {% for messages in messages %}
                                <p data-toast data-toast-text="{{messages}}" data-toast-gravity="top" id="messages"
                                   data-toast-position="center" data-toast-duration="3000" data-toast-close="close"></p>
                                {% endfor %}

                                {% for row in pb_history_df.values %}
                                <tr class="active-row">
                                    <td class="serial">{{forloop.counter}}</td>
                                    {% for value in row %}
                                    <td class="{% if value < 0 %}text-danger{% endif %}">
                                        {{value}}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                <!-- and so on... -->

                                </tbody>
                            </table>



                        </div>
                    </div>
        </div>
    </div>
</div>







<!-- # this 2 div for tabs div-->
       </div></div>





    </div>
</div>

<!--######## new design -->









{% endblock %}
